body {
    margin: 0;
    padding: 0;

    overflow: hidden;   
    
    background: #002b36;

    font-family: 'Major Mono Display', monospace;
}

main {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.5) rgba(0,0,0,0);
}
main::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0,0,0,0);
}
main::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.5);
}
main::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

main {
    display: flex;
    width: 100%;
    height: 100vh;

    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

main .slide {
    min-width: 100vw;
    height: 100%;

    border-right: 1px solid rgba(255,255,255,0.1);

    scroll-snap-align: start;

    position: relative;

    overflow: hidden;
}

.slide .background {
    width: 200%;
    height: 200%;
    position: absolute;

    top: 0;
    left: 0;
}

.lert {
    width: 60vw;
    height: 100%;

    position: absolute;

    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 1s cubic-bezier(0.22, 1, 0.36, 1);
    left: 0px;
    opacity: 1;
}

.lert:nth-of-type(2) {
    background: #5E1E4F; 
    transform: skewX(-10deg) translate(calc(-10vw - 2vw));   
}
.lert:nth-of-type(3) { 
    background: #7E1C33;  
    transform: skewX(-10deg) translate(calc(-15vw - 2vw));  
}
.lert:nth-of-type(4) {
    background: #971D2D; 
    transform: skewX(-10deg) translate(calc(-20vw - 2vw));   
}

.lert:nth-of-type(2).start_anim {
    transform: skewX(-10deg) translate(calc(-10vw - 2vw - 100px));   
}
.lert:nth-of-type(3).start_anim { 
    transform: skewX(-10deg) translate(calc(-15vw - 2vw - 100px));  
}
.lert:nth-of-type(4).start_anim {
    transform: skewX(-10deg) translate(calc(-20vw - 2vw - 100px));   
}

.lert.start_anim {
    opacity: 0;
}

.slide .title {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 8vmin;
    letter-spacing: -0.8vmin;

    color: #fff;

    position: absolute;
}

#projects .title {
    right: 0;
    bottom: 0;

    transform: scaleX(150%) translateX(-20%);
}

#start .background {
    background-image: url(img/xloop.png);

    background-size: 50px 50px;
    background-repeat: repeat;

    transform: rotate(10deg);

    opacity: 0.02;
}

#start #logo {
    position: absolute;
    width: 190vh;
    height: 190vh;

    transform: translate(20vw, -47vh);

    fill: #002b36;

    stroke: rgba(255,255,255,0.1);
    /* stroke-dasharray: 0.2, 0.2; */
    stroke-width: 0.1;
    stroke-linejoin: round;
    
    animation: float 5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

/* @keyframes float {
    0% { transform: translate(20vw, calc(-47vh + 10px)) }
    50% { transform: translate(20vw, calc(-47vh - 10px)) }
    100% { transform: translate(20vw, calc(-47vh + 10px)) }
} */

#start nav {
    height: 500px;
    width: 500px;
    
    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;

    margin: auto;

    display: flex;
    flex-direction: column;

    align-items: flex-end;
    justify-content: center;

    padding-right: 20px;
}

#start nav a {
    color: #fff;
    font-size: calc(0.9em + 5vmin);
    text-decoration: none;

    margin: 10px;

    position: relative;

    padding: 10px;
}

#start nav a svg {
    width: 100%;
    height: 100%;

    fill: transparent;
    stroke: #fff;
    stroke-width: 5px;
    stroke-dasharray: 400%;
    stroke-dashoffset: 300%;

    position: absolute;
    top: 4px;
    left: 0;

    transition: all .4s cubic-bezier(0.87, 0, 0.13, 1);
}

#projects {
    perspective: 40vw;
}

#start nav a:hover svg {
    stroke-dashoffset: 30%;
}

#projects .background {
    background-image: url(img/static.png);
    opacity: 0.75;
    
    background-size: 1024px 1024px;
}

#projects #lines {
    width: 120%;
    height: max(120%, 500px);

    transform: translate(-10vw, -35vh);
    stroke-width: 5;

    position: absolute;
}
#projects #lines path:nth-of-type(1) {
    stroke: #971D2D;
}
#projects #lines path:nth-of-type(2) {
    stroke: #7E1C33;
}
#projects #lines path:nth-of-type(3) {
    stroke: #5E1E4F;
}

#projects #vertlines {   
    width: 120%;
    height: 120%;    

    transform: translate(-10%, -16%);

    position: absolute;

    stroke: #fff;
    stroke-width: 0.08;
}

#projects #pcircle, #projects #pcircle_2 {
    position: absolute;

    width: 135%;
    height: 135%;

    transform: translate(-7%, -8%);

    fill: none;
    stroke: #fff;
    stroke-width: 0.08;
    stroke-dasharray: 2%;

    /* animation: pstroke 10s linear infinite; */
}
#projects #pcircle_2 {
    stroke-width: 0.08;
    stroke-dasharray: 1%;
}
/* @keyframes pstroke {
    from {stroke-dashoffset: 0%}
    to {stroke-dashoffset: 4%}
} */

#project_list, #project_list_overlay {
    width: 35%;
    height: 80%;

    position: absolute;
     
    top: 0;
    bottom: 17%;
    margin: auto;
    left: 20%;

    /* background: #000; */
    /* box-shadow: 1vw 1vw 0 rgba(0,0,0,0.5); */

    padding-left: 2vw;
    transform: skewY(2deg) rotateX(4deg);
}

#project_list {
    overflow-x: hidden;
    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,1) rgba(0,0,0,0);

    background-color: #002b36;
    /* background-image: url(img/btexture.jpg);
    background-size: auto 100%;
    background-blend-mode: hard-light;   */

    box-shadow: 
        0.05vw 0.05vw 0 #971D2D,
        0.1vw 0.1vw 0 #971D2D,
        0.15vw 0.15vw 0 #971D2D,
        0.2vw 0.2vw 0 #971D2D,
        0.25vw 0.25vw 0 #971D2D,
        0.3vw 0.3vw 0 #971D2D,
        0.35vw 0.35vw 0 #971D2D,
        0.4vw 0.4vw 0 #971D2D,
        0.45vw 0.45vw 0 #971D2D,
        0.5vw 0.5vw 0 #971D2D,
        0.55vw 0.55vw 0 #971D2D,

        0.6vw 0.6vw 0 #7E1C33,
        0.65vw 0.65vw 0 #7E1C33,
        0.7vw 0.7vw 0 #7E1C33,
        0.75vw 0.75vw 0 #7E1C33,
        0.8vw 0.8vw 0 #7E1C33,
        0.85vw 0.85vw 0 #7E1C33,
        0.9vw 0.9vw 0 #7E1C33,
        0.95vw 0.95vw 0 #7E1C33,
        1.0vw 1.0vw 0 #7E1C33,
        1.05vw 1.05vw 0 #7E1C33,
        
        1.1vw 1.1vw 0 hsl(314, 52%, 24%),
        1.15vw 1.15vw 0 #5E1E4F,
        1.2vw 1.2vw 0 #5E1E4F,
        1.25vw 1.25vw 0 #5E1E4F,
        1.3vw 1.3vw 0 #5E1E4F,
        1.35vw 1.35vw 0 #5E1E4F,
        1.4vw 1.4vw 0 #5E1E4F,
        1.45vw 1.45vw 0 #5E1E4F,
        1.5vw 1.5vw 0 #5E1E4F,
        1.55vw 1.55vw 0 #5E1E4F;
}
#project_list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0,0,0,0);
}
#project_list::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,1);
}
#project_list::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}

#project_list_overlay {
    pointer-events: none;
    /* border-bottom: 1px solid rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5); */

    padding-left: 1vw;

    overflow: hidden;
}

.project {
    /* border-bottom: 1px dashed rgba(255,255,255,0.5); */

    width: 100%;
    height: 8vw;

    margin: 1vw;
    margin-right: 1vw;

    color: #fff;

    transform: skewY(-2deg) rotateX(0);

    background-size: 0.5vw 0.5vw, 0.5vw 0.5vw, 100% 100%, 100% 100%, 100% 100%, 75% auto;
    background-position: 14.75vw 4vw, 0.5vw 0.5vw, 0 0, 0 0, 0 0, 0 1px;
    background-repeat: no-repeat;
    background-color: #5E1E4F;
    background-blend-mode: normal, normal, normal, normal, normal, luminosity;

    position: relative;

    opacity: 1;

    left: 0;
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 1s cubic-bezier(0.22, 1, 0.36, 1), left 0.5s cubic-bezier(0.22, 1, 0.36, 1);

    clip-path: polygon(0 10%, 1.5% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
}

.project::after, .project::before {
    width: calc(100% - 3.5vw);
    height: 1px;

    background: rgba(255,255,255,1);
    left: 1.5vw;

    position: absolute;

    display: block;
    content: '';
}
.project::before {
    top: calc(0.775vw + 0.1vw);
}
.project::after {
    top: calc(0.775vw - 0.1vw);
}
.project:hover {
    left: 0.5vw;
}
.project.start_anim {
    opacity: 0;
    transform: translateX(2vw);
}

.project .projtitle {
    position: absolute;
    bottom: 0.5vw;
    left: 0.5vw;

    margin: 0;
    padding: 0;

    font-size: 1.5vw;

    text-shadow: 0.1vw 0.1vw 0 #000;
    transform-origin: left;
}
.projtitle .bigletter {
    font-size: 2vw;    
}
.project .projdesc {
    position: absolute;
    top: 0.87vw;
    right: 2vw;

    width: auto;

    margin: 0;
    padding: 0;

    background: #fff;
    color: #000;

    font-size: 1.1vw;

    letter-spacing: -0.1vw;

    font-family: 'Trispace', monospace;
}
.project .projnum {
    position: absolute;
    bottom: 0.4vw;
    right: 2vw;

    width: 34%;

    margin: 0;
    padding: 0;

    font-size: 0.5vw;

    letter-spacing: 0.25vw;

    font-family: 'Trispace', monospace;
    font-weight: 800;
}
.project .projnum::before, .project .projnum::after {
    width: 100%;
    height: 1px;

    background: rgba(255,255,255,1);
    bottom: -0.1vw;

    position: absolute;

    display: block;
    content: '';
}
.project .projnum::after {
    bottom: -0.3vw;
}

#project_list_overlay #ruler {
    height: 100%;
    width: 3vw;

    background: 
        linear-gradient(white 0 1px, transparent 0),
        linear-gradient(white 0 1px, transparent 0);
    position: absolute;

    background-repeat: repeat-y;
    background-size: 
        1vw 5%,
        0.5vw 5%;
    background-position: 0 0, 0 2.5%;

    top: 0;
    left: 0;
}
#project_list_overlay #squares {
    height: 100%;
    width: 3vw;

    background: 
        linear-gradient(rgba(255,255,255,0.5) 0 0.6vw, transparent 0 0.3vw);
    position: absolute;

    background-repeat: repeat-y;
    background-size: 
        0.3vw 1vw;
    background-position-x: 1.5vw;

    top: 0;
    left: 0;
}
#project_list_overlay #squares_small {
    height: 100%;
    width: 3vw;

    background: 
        linear-gradient(rgba(255,255,255,0.5) 0 0.1vw, transparent 0 0.1vw);
    position: absolute;

    background-repeat: repeat-y;
    background-size: 
        0.1vw 0.5vw;
    background-position-x: 2.35vw;

    top: 0;
    left: 0;
}