* {  
  margin: 0;
  padding: 0;
}

.sq-con, .sq-hi-con {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sq {
  flex-basis: 12.5%;
  height: 25vh;
  background: linear-gradient(to left,#000, #aaa);
  cursor: pointer;
}

.mouse-ex {
  width: 60px;
  height: 60px;
  position: absolute;
  background: #fff;
  opacity: 0.7;
  border-radius: 100%;
  top: 40px;
  left: 50px;
  animation: 0.6s m ease-out;
  pointer-events: none;
}

@keyframes m {
  100% {transform: scale(1.2); opacity: 0;}
}